streamlit
langchain
langchain-community
langchain-text-splitters
langchain-google-vertexai
langchain-qdrant
qdrant-client
google-cloud-aiplatform
python-dotenv
reportlab
PyMuPDF
langchain-core
requests
google-genai
